<div class="section">
    <div class="autogrid full-width-forms">
    	<h1>All Guests</h1>
		<table>
		    <thead>
		        <tr>
		            <th><b>Name</b></th>
		            <th><b>Message</b></th>
		        </tr>
		    </thead>
		    <tbody>
		        <% @guests.each do |guest| %>
		        	<tr>
			            <td><%= guest.name %></td>
			            <td><%= guest.message %></td>
			        </tr>
		        <% end %>
		    </tbody>
		    <tfoot>
		        <tr>
		            <td colspan="3"><a href="/">Back to Home</a></td>
		        </tr>
		    </tfoot>
		</table>
	</div>
</div>