<html>
    <head>
        <meta charset="utf-8">
        <title>Guest Book</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/doximity/vital/v2.2.1/dist/css/vital.min.css">
        <link href="/assets/style.css" rel="stylesheet">
    </head>
        
    <body>
        <div class="row notice">
            <div class="section">
                <div class="notice-message">
                    <div class="notice-text "><small>View project on GitHub & Heroku &nbsp; | &nbsp; Created by <a href="http://seb646.com">Sebastian Rodriguez</a></small></div>
                </div>
            </div>
        </div>
       <%= yield %>
    </body>
</html>